root {
    --primary-color: #f8f8f8 ;
    --secondary-color: #333 ;
    --tertiary-color: #6A2C2C;
    --quaternary-color: #4A4A4A;
    --quinary-color: rgb(119, 114, 114);

}

html {
    scroll-behavior: smooth;
}

body {
    display: flexbox;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    font-size: 1rem;
    margin: 0;
    padding: 0;

}
/* Trouble shoot placing recipe items at the center of the page */
.focus .recipe {
    display: inline-block;
    list-style: none;
    text-decoration: none;
    margin-left: 20px;
    align-items: center;
}

.recipe li a {
    text-decoration: none;
}

.recipe img {
    width: 200px;
    height: auto;
}

main h1 {
    text-align: center;
}



footer {
    text-align: center;
    padding: 20px;
    background-color: #fff;
    color: var(--tertiary-color);
}

footer h6 {
    font-size: 1rem;
}

footer li {
    list-style: none;
}

footer li a {
    text-decoration: none;
}