root {
    --primary-color: #f8f8f8 ;
    --secondary-color: #333 ;
    --tertiary-color: #6A2C2C;
    --quaternary-color: #4A4A4A;
    --quinary-color: rgb(119, 114, 114);

}

html {
    scroll-behavior: smooth;
}

/* Make web page user friendly to mobile users!, currently elements are out of line on samsung s8+ and so on ^^ */

body {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    font-size: 1rem;
    margin: 0 auto;
    padding: 0 auto;

}

.focus {
    margin-top: 1em;
    width: 80%;
    display: flex;
    /* border:  10px solid black; */
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1em;
}

.recipe a {
    text-decoration: none;
    color: var(--quaternary-color);
    transition: color 0.5s ease-in;
}

.recipe a:hover {
    color:var(--tertiary-color);
}

.recipe img {
    width: 150px;
    height: auto;
}

main h1 {
    text-align: center;
}

/* trouble shoot colors not appearing within web page strange bug */

footer {
    padding: 20px;
    background-color: #fff;
    color: var(--tertiary-color);
    margin-bottom: 0;
    border: 10px;
    border-color: red;
}

footer ul {
    text-align: center;
}

footer h6 {
    font-size: 1rem;
    
}

footer li {
    list-style: none;
}

footer li a {
    text-decoration: none;
}